# Python modules required
# 170714 Pin important modules for compatibility with the Jupyter/scipy containers

pip>=9.0.1
fuzzywuzzy
numpy
pandas
pytest
python-Levenshtein
scikit-learn
sympy
scipy
xmltodict
requests
responses
schedule
yapsy


# matplotlib, scikit-image not really needed
# matplotlib
# scikit-image
